@import './_colors'; // Update the path as necessary

$input-border-color: darken($accent-color, 6.5%);
$input-text-color: darken(adjust-hue($primary-color, -155), 23.33);
$input-text-form-top-border: darken($accent-color, 12.16);

.input-text-form {
  display: flex;
  align-items: center;
  grid-area: input-text; // Update grid area as needed
  background: $backtool-color;
  border-radius: 0 0 10px 0;
  border-top: 1px solid $input-text-form-top-border;
  padding: 8px 20px;

  input {
    flex: 1;
    outline: none;
    padding: 10px 15px;
    border: 2px solid $input-border-color;
    border-right: none; // Assuming you want a connected look
    color: $input-text-color;
    border-radius: 6px 0 0 6px;
    font-size: 1rem; // Adjust size as necessary
  }

  button {
    height: 45px; // Adjust size as necessary
    flex: 0 0 80px;
    border-radius: 0 6px 6px 0;
    background-color: darken($accent-color, 5%); // Optional, adjust as necessary
    color: rgb(239, 238, 247); // Adjust as necessary
    font-weight: bold;
    border: none;
    cursor: pointer;
    &:disabled {
      background-color: lighten($accent-color, 10%);
      cursor: default;
    }
  }
}
